.votes {
	margin-top:3px;
	margin-right:8px;
	float:left;
}
.break {
	padding-top:10px;
	padding-bottom:10px;
}
.author {
	margin:0px;
	margin-left:0px!important;
	padding-bottom:0px;
	position: relative;
	top:12px;
}
.submit-area {
	margin-top:5px;
}
.comment-author {
	margin-top:0px;
	margin-bottom:0px;
}
.btn {
	z-index:999!important;
}
.comment-page-panel {
	background:#f1f1f1;
}
.admins {
    margin-top:20px;
    font-size:3em;
    border: 2px #1ABC9C solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.admin-list {
    list-style-type: none;
    margin-left:none;
    padding:none;
}
.admin-user {
    border-bottom: 1px #1ABC9C dotted;
    margin-right:50px;
}
.admin-list-title {
    margin-left: 30px;
}
.post {
    padding:15px;
    border: 1px black solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.info-admin {
    color:#7F8C8D;
    font-style:italic;
}
.cmt-reply {
    margin-left:20px;
    padding-left:10px;
    padding-bottom:10px;
    border-left: 1px black solid;
}
.deleted {
    color: #888;
}
.send-message {
    border-bottom: 1px black solid;
}
.read, .unread {
    border: 1px black solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.read {
    background: #eee;
}