<div class="row">
    <div class="items col-md-8">
    {% if err == "1" %}
        <div class="err"><p>Could not delete.</p></div>
    {% elif err == "2" %}
        <div class="err"><p>Error adding new Admin</p></div>
    {% else %}
        <div class="err"></div>
    {% end %}
    {% set postCount = db.execute_rowcount("SELECT * FROM links") %}
            <h2>Visible Posts:</h2>
        {% if postCount < 1 %}
            <h3>There seems to be nothing here...</h3>
        {% else %}
            {% for data in db.query("SELECT * FROM links WHERE deleted=0 ORDER BY id DESC") %}
                <div class="post">
                    <p class="title"><span class="info-admin">Title:</span> {{ data.title }}</p>
                    <p class="link"><span class="info-admin">URI:</span> {{ data.link }}</p>
                    <p class="author"><span class="info-admin">Author:</span> <a href="/user/{{ data.author }}">{{ data.author }}</a></p>
                    <p class="deletelink info-admin"><a href="/admin/delete?id={{ data.id }}">Delete post {{ data.id }}</a></p>
                </div>
            {% end %}
        {% end %}
    </div>
    <div class="admin-tools col-md-4">
		<form class="form-add-admin" action="/admin/add" method="post">
			<h3 class="form-add-admin-heading">Add new administrator</h3>
			    <input type="text" class="form-control flat" placeholder="Username" name="name" required autofocus>
		    <button class="btn btn-lg btn-primary btn-wide" style="width:auto;" type="submit">Submit</button>
		</form>
        <div class="admins">
            <h4 class="admin-list-title">Site Administrators:</h4>
            <ul class="admin-list">
                {% for i in db.query("SELECT * FROM users WHERE admin='1'") %}
                    <li class="admin-user">
                        <span class="name"><a href="/user/{{ i.username }}">{{ i.username }}</a></span>
                    </li>
                {% end %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        {% set postCount = db.execute_rowcount("SELECT * FROM links") %}
                <h2>Deleted Posts:</h2>
            {% if postCount < 1 %}
                <h3>There seems to be nothing here...</h3>
            {% else %}
                {% for data in db.query("SELECT * FROM links WHERE deleted=1 ORDER BY id DESC") %}
                    <div class="post">
                        <p class="title"><span class="info-admin">Title:</span> {{ data.title }}</p>
                        <p class="link"><span class="info-admin">URI:</span> {{ data.link }}</p>
                        <p class="author"><span class="info-admin">Author:</span> <a href="/user/{{ data.author }}">{{ data.author }}</a></p>
                    </div>
                {% end %}
            {% end %}
        </div>
    </div>
</div>