    {% for ndata in db.query("SELECT * FROM links WHERE id = '%s' LIMIT 1", pid) %}
        <div class="panel panel-default comment-page-panel">
          <div class="panel-body">
            <h3><a href="{{ ndata.link }}">{{ ndata.title }}</a></h3>
            {% if ndata.deleted == 1 %}
                <p>Post by: <span class="deleted">[DELETED]</span></p>
            {% else %}
                <p>Posted by: <a href="/user/{{ ndata.author }}">{{ ndata.author }}</a></p>
            {% end %}
            <small><a href="/comments/{{ ndata.id }}">{{ cmtCnt }} {{ commentText }}</a></small>
          </div>
        </div>
      {% end %}
      {% if username == "" %}
      <h3>Please login to comment</h3>
      {% else %}
        <button class="btn btn-default" id="OCFbtn" onClick="openComments()" style="margin-bottom:20px;">Add a Comment</button>
        <div id="cmtForm" style="display:none;">
          <form action="/submitcomment" method="post">
            <div class="form-group">
              {% if err == 1 %}
                <div class="has-error">
                  <textarea name="comment" placeholder="Please enter a comment..." class="form-control flat"></textarea>
                </div>
              {% else %}
                <textarea name="comment" placeholder="Enter a comment..." class="form-control flat"></textarea>
              {% end %}
              <input type="hidden" name="pid" value="{{ pid }}" />
              <div class="submit-area">
                <button type="submit" class="btn btn-default btn-wide">Submit</button>
                <button type="button" class="btn btn-default" onClick="closeComments()" id="CCFbtn">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      {% end %}
      {% for data in db.query("SELECT * FROM comments WHERE pid = '%s' AND parent IS NULL ORDER BY id DESC", pid) %}
        <div class="panel panel-default" style="margin:0px!important;">
          <div class="panel-body">
              {% if db.execute_rowcount("SELECT * FROM comments WHERE id=%s AND deleted=0", data.id) > 0 %}
                <p class="comment-author"><small><a href="/user/{{ data.author }}">{{ data.author }}</a></small></p>
                <p>{{ data.comment }}</p>
                {% if data.author == username %}
                  <p class="delete-link"><a href="/deletecomment?cid={{ data.id }}">Delete Comment</a></p>
                {% end %}
              {% else %}
                <p class="deleted">[DELETED]</p>
              {% end %}
                {% for i in db.query("SELECT * FROM comments WHERE parent = %s", data.id) %}
                  {% if db.execute_rowcount("SELECT * FROM comments WHERE id=%s AND deleted=0", i.id) > 0 %}
                    <div class="cmt-reply">
                        <p class="comment-author"><a href="/user/{{ i.author }}">{{ i.author }}</a></p>
                        <p>{{ i.comment }}</p>
                        {% if data.author == username %}
                          <p class="delete-link"><a href="/deletecomment?cid={{ i.id }}">Delete Comment</a></p>
                        {% end %}
                    </div>
                  {% else %}
                    <div class="cmt-reply">
                        <p class="deleted">[DELETED]</p>
                    </div>
                  {% end %}
                {% end %}
          </div>
          <button class="reply-button-{{ data.id }} btn" onClick="openReply({{ data.id }})">Reply</button>
          <div class="reply-{{ data.id }} panel" style="display:none;">
              <form action="/submitcomment" method="post">
                <input type="hidden" name="parent" value="{{ data.id }}" />
                <div class="form-group">
                  {% if err == 1 %}
                    <div class="has-error">
                      <textarea name="comment" placeholder="Please enter a comment..." class="form-control flat"></textarea>
                    </div>
                  {% else %}
                    <textarea name="comment" placeholder="Enter a comment..." class="form-control flat"></textarea>
                  {% end %}
                  <input type="hidden" name="pid" value="{{ pid }}" />
                  <div class="submit-area">
                    <button type="submit" class="btn btn-default btn-wide">Submit</button>
                    <button type="button" class="btn btn-default" onClick="closeReply({{ data.id }})">Cancel</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      {% end %}