  {% set postCount = db.execute_rowcount("SELECT * FROM links WHERE deleted='0'") %}
    {% if postCount < 1 %}
      <h2>There seems to be nothing here...</h2>
    {% else %}

      {% for data in db.query("SELECT *, ((upvotes + 1.9208) / (upvotes + downvotes) - 1.96 * SQRT((upvotes * downvotes) / (upvotes + downvotes) + 0.9604) / (upvotes + downvotes)) / (1 + 3.8416 / (upvotes + downvotes)) AS ci_lower_bound FROM links WHERE upvotes + downvotes > 0 AND deleted = 0 ORDER BY ci_lower_bound DESC") %}

        {% set votecount = int(data.upvotes) - int(data.downvotes) %}
        {% if votecount > 1 or votecount == 0 %}
          {% set message = str(votecount) + " Points" %}
        {% else %}
          {% set message = str(votecount) + " Point" %}
        {% end %}
      	{% set cmtCnt = db.execute_rowcount("SELECT * FROM comments WHERE pid=%s AND deleted=0", data.id) %}
        {% set hasUpVoted = db.execute_rowcount("SELECT * FROM voted WHERE username=%s AND which=%s AND pid=%s", username, "upvote", data.id) %}
        {% set hasDownVoted = db.execute_rowcount("SELECT * FROM voted WHERE username=%s AND which=%s AND pid=%s", username, "downvote", data.id) %} 

          {% if hasUpVoted > 0 %}
            {% set upVoteState="disabled" %}
          {% else %}
            {% set upVoteState="" %}
          {% end %}
          {% if hasDownVoted > 0 %}
            {% set downVoteState="disabled" %}
          {% else %}
            {% set downVoteState="" %}
          {% end %}
        <div class="panel panel-default" style="margin:0px!important;">
          <div class="panel-body">
            {% if not username == "" %}
              <div class="votes">
                  <button type="button" class="btn btn-primary uv-{{ data.id }}" onClick="upvote({{ data.id }})" {{ upVoteState }}><span class="fui-check"></span></button>
                    <div class="break"></div>
                  <button type="button" class="btn btn-warning dv-{{ data.id }}" onClick="downvote({{ data.id }})" {{ downVoteState }}><span class="fui-cross"></span></button>
              </div>
            {% end %}
            <h3 style="margin:1px;"><a href="{{ data.link }}">{{ data.title }}</a></h3>
            <p class="author"><small>Posted by: <a href="/user/{{ data.author }}">{{ data.author }}</a> in <a href="/s/{{ data.subcat }}">{{ data.subcat }}</a></small></p>
            <small><span class="votecount vc-{{ data.id }}">{{ message }}</span> | <a href="/comments/{{ data.id }}">{{ cmtCnt }}{% if cmtCnt > 1 or cmtCnt == 0 %} Comments{% else %} Comment{% end %}</a></small>
            {% if username == data.author %}
            <small> | <a href="/delete?pid={{ data.id }}">Delete Post</a></small>
            {% end %}
          </div>
        </div>
      {% end %}
    {% end %}