{% if username == "" %}
	<h2>Please login to create a SubCat</h2>
{% else %}
        {% if err == "3" %}
            <h4 style="color:#E74C3C;">Name cannot contain spaces</h4>
        {% elif err == "2" %}
            <h4 style="color:#E74C3C;">Subcat already exists</h4>
        {% elif err == "1" %}
            <h4 style="color:#E74C3C;">Please enter a name</h4>
        {% end %}
      <form role="form" action="/createsubcat" method="POST">
      	<div class="form-group">
      		<label for="title">Subcat Name: </label>
        	<input type="text" class="form-control flat" placeholder="Enter a name..." name="name" />
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
      </form>
{% end %}