{% set displayAdmin = "false" %}
{% if username != ""  %}
    {% set isAdmin = db.execute_rowcount("SELECT id FROM users WHERE username=%s AND admin='1'", username) %}
    {% if isAdmin < 1 %}
        {% set displayAdmin = "false" %}
    {% else %}
        {% set displayAdmin = "true" %}
    {% end %}
{% set msgCount = db.execute_rowcount("SELECT * FROM messages WHERE msgto = %s AND isread = '0'", username) %}
{% end %}
<!DOCTYPE html>
<html>
	<head>
    <link rel="icon" type="image/png" href="/favicon.png">
		<title>ShareIt: Python link aggregation</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/favicon.ico" rel="icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
	<body>
		<div class="container">
			<div class="navbar navbar-default">           
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a href="/">
                    ShareIT
                  </a>
                </li>                
                <li>
                  <a href="/submit">
                    Submit
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if displayAdmin == "true" %}
                    <li>
                        <a href="/admin/main">Admin Panel</a>
                    </li>
                {% end %}
                {% if username == "" %}
                  <li>
                      <a href="/login">Login / Sign up</a>
                  </li>
                {% else %}
                  <li>
                      <a href="/messages">Messages ({{ msgCount }})</a>
                  </li>
                  <li>
                      <a href="/user/{{ username }}">{{ username }}</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                {% end %}
              </ul>
            </div><!--/.nav -->