<div class="row">
	<div class="col-md-6">
		<form class="form-signin" action="/lg" method="post">
			<h2 class="form-signin-heading">Sign in</h2>
			    <input type="text" class="form-control flat" placeholder="Username" name="username" required autofocus>
			    <input type="password" class="form-control flat" placeholder="Password" name="password" required>
		    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form> 
	</div>
	<div class="col-md-6">
		<form class="form-signin" action="/signup" method="post">
		 	<h2 class="form-signin-heading">Sign up</h2>
		    	<input type="text" class="form-control flat" placeholder="Username" name="username" required>
		    	<input type="password" class="form-control flat" placeholder="Password" name="password" required>
		    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		</form>
	</div>
</div>