{% if username == "" %}
    <h2>Please login to view messages</h2>
{% else %}
    <div class="send-message">
        <form action="/sendmessage" method="post">
            <div class="form-group">
                <input class="form-control flat" name="to" placeholder="Username of person to send to..." />
                <textarea class="form-control flat" name="body" placeholder="Message text..."></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn"/>
            </div>
        </form>
    </div>
    <div class="messages">
        {% set msgCount = db.execute_rowcount("SELECT * FROM messages WHERE msgto = %s", username) %}
        {% if msgCount > 0 %}
            {% for i in db.query("SELECT * FROM messages WHERE msgto = %s ORDER BY isread, id DESC", username) %}
                {% if i.isread == 1 %}
                    <div class="read">
                        <p class="from"><a href="/user/{{ i.msgfrom }}">{{ i.msgfrom }}</a></p>
                        <p class="message-body">{{ i.body }}</p>
                    </div>
                {% else %}
                    {% set a = db.execute("UPDATE messages SET isread = '1' WHERE id = %s", i.id) %}
                    <div class="unread">
                        <p class="from"><a href="/user/{{ i.msgfrom }}">{{ i.msgfrom }}</a></p>
                        <p class="message-body">{{ i.body }}</p>
                    </div>
                {% end %}
            {% end %}
        {% else %}
            <h3>No messages here</h3>
        {% end %}
    </div>
{% end %}