{% for data in db.query("SELECT * FROM users WHERE username=%s", username) %}
	{% if data.points > 1 or data.points == 0 %}
		{% set pointsMessage = str(data.points) + " Points" %}
	{% else %}
		{% set pointsMessage = str(data.points) + " Point" %}
	{% end %}
        {% set hasUpVoted = db.execute_rowcount("SELECT * FROM voted WHERE username=%s AND which=%s AND pid=%s", username, "upvote", data.id) %}
        {% set hasDownVoted = db.execute_rowcount("SELECT * FROM voted WHERE username=%s AND which=%s AND pid=%s", username, "downvote", data.id) %} 

          {% if hasUpVoted > 0 %}
            {% set upVoteState="disabled" %}
          {% else %}
            {% set upVoteState="" %}
          {% end %}
          {% if hasDownVoted > 0 %}
            {% set downVoteState="disabled" %}
          {% else %}
            {% set downVoteState="" %}
          {% end %}
	<div class="jumbotron">
		<h2><strong>{{ data.username }}</strong>'s profile</h2>
		<p class="lead">{{ data.username }} has {{ pointsMessage }}</p>
		  {% set postCount = db.execute_rowcount("SELECT * FROM links WHERE author=%s", username) %}
		    {% if postCount < 1 %}
		      <h2>There seems to be nothing here...</h2>
		    {% else %}
			{% for pdata in db.query("SELECT * FROM links WHERE author = %s AND deleted='0'", username) %}
                {% set votecount = pdata.upvotes = pdata.downvotes %}
				{% if votecount > 1 or votecount == 0 %}
					{% set message = str(votecount) + " Points" %}
				{% else %}
					{% set message = str(votecount) + " Point" %}
				{% end %}
		        <div class="panel panel-default" style="margin:0px!important;">
		          <div class="panel-body">
		            {% if not uname == "" %}
		              <div class="votes">
		                  <button type="button" class="btn btn-primary uv-{{ data.id }}" onClick=upvote({{ pdata.id }}) {{ upVoteState }}><span class="fui-check"></span></button>
		                    <div class="break"></div>
		                  <button type="button" class="btn btn-warning dv-{{ data.id }}" onClick=downvote({{ pdata.id }}) {{ downVoteState }}><span class="fui-cross"></span></button>
		              </div>
		            {% end %}
		            <h3 style="margin:1px;"><a href="{{ pdata.link }}">{{ pdata.title }}</a></h3>
		            <p class="author"><small>Posted by: <a href="/user/{{ pdata.author }}">{{ pdata.author }}</a></small></p>
		            <small><span class="votecount">{{ message }}</span> | <a href="/comments/{{ pdata.id }}">{{ cmtCnt }}{% if cmtCnt > 1 or cmtCnt == 0 %} Comments{% else %} Comment{% end %}</a></small>
		            {% if username == pdata.author %}
		            <small> | <a href="/delete/{{ pdata.id }}">Delete Post</a></small>
		            {% end %}
		          </div>
		        </div>				
			{% end %}
		{% end %}
	</div>
{% end %}