{% set count = db.execute_rowcount("SELECT * FROM links WHERE deleted = 0 AND subcat = %s", sname) %}
    {% if count < 1 %}
        <h2>There doesn't appear to be anything here...</h2>
    {% else %}
        {% for data in db.query("SELECT * FROM links WHERE deleted = 0 AND subcat = %s ORDER BY id DESC", sname) %}
            {% set votecount = data.upvotes - data.downvotes %}
                {% if votecount > 1 or votecount == 0 %}
                  {% set message = str(votecount) + " Points" %}
                {% else %}
                  {% set message = str(votecount) + " Point" %}
                {% end %}

            <div class="panel panel-default comment-page-panel">
                <div class="panel-body">
                    <p><a href="{{ data.link }}">{{ data.title }}</a></p>
                    <small>{{ message }} | </small>
                    <small><a href="/comments/{{ data.id }}">Comments</a></small>
                  </div>
                </div>
        {% end %}
    {% end %}