{% if username == "" %}
	<h2>Please login to submit a link</h2>
{% else %}
      <form role="form" action="/submitlink" method="POST">
      	<div class="form-group">
      		<label for="title">Title: </label>
        	<input type="text" class="form-control flat" placeholder="Enter a title..." name="title" />
        </div>
        <div class="form-group">
        	<label for="link">Link: </label>
        	<input type="url" class="form-control flat" placeholder="Enter a url..." name="link" />
        </div>
        <div class="form-group">
          <label for="subcat">Subcat:</label>
          <input type="text" name="subcat" class="form-control flat" placeholder="Enter a subcat name..." />
        </div>
        <input type="submit" class="btn btn-default"username value="Submit" />
      </form>
{% end %}